/* General Page Styles */
.products-page {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .search-sort-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .search-sort-container input {
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-sort-container select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Product List Styles */
  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .loading,
  .error {
    text-align: center;
    font-size: 20px;
    padding: 20px;
  }
  
  /* Pagination */
  .pagination {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .pagination button {
    padding: 10px 15px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .pagination button.active {
    background-color: #007bff;
    color: white;
  }
  
  .pagination button:hover {
    background-color: #007bff;
    color: white;
  }
  